body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat";
}
#equationDisplay, .resultDisplay {
	font-size: 90px;
}
.resultDisplay {
	opacity: 0;
}
.appear {
	opacity: 1;
	transition: opacity 500ms ease-in-out;
}
.answerButton {
	display: inline-block;
	width: 200px;
	height: 100px;
	padding-top: 30px;
	font-size: 60px;
	font-weight: bold;
	background-color: #FBA92E;
	border-radius: 15px;
	margin: 10px;
	cursor: pointer;
	transition: opacity 600ms ease-in-out;
} 
.excerciseName {
	font-size: 2em;
}
.container {
	text-align: center;
	max-width: 600px;
	margin: 20px auto;
}
.messageBox {
	display: block;
	z-index: -1;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 75px;
	padding-top: 25px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	border-radius: 10%;
    transition: all 600ms ease-in-out;
}
.correct {
	background-color: yellow;
}
.wrong {
	background-color: red;
}
.rightAnswer {
	z-index: 2;
	opacity: 1;
	width: 300px;
	height: 150px;
	padding-top: 50px;
	text-align: center;
	font-size: 75px;
	font-weight: bold;
}
.fadeOut {
	opacity: 0;
}
h1 {
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	padding: 20px 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}
.count {
	display: inline-block;
	margin: 50px 5px;
	width: 20px;
	height: 70px;
	border-radius: 15px;
	background-color: #f7f7f7;
	transition: background-color 500ms ease-in-out;
}
.correctAnswers {
	background-color: #688d01;
}
@media(max-width: 550px) {
	.answerButton {
		width: 150px;
		height: 50px;
		padding-top: 15px;
		font-size: 30px;
		border-radius: 7px;
		margin: 5px;
	}
	h1{
		
	}
}